/* 
.App-logo{
  position: relative ;
  height: 70px;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  margin-right: 0px;
  margin-right: 0px;
} */


.NavBar {
position: absolute;
width: 100vw;
height: 70px;
margin-left: 0%;
margin-right: 0%;
background: #2F3337
}

.logoContainer{
  background-color: rgba(38, 180, 255, 1);
  
}
.card{
  Width: 552px;
 
}
