/* 
.App-logo{
  position: relative ;
  height: 70px;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  margin-right: 0px;
  margin-right: 0px;
} */


.NavBar {
  font-family: Roboto;
position: absolute;
width: 100vw;
height: 70px;

}

.GrayNavBarGDM{
  position: absolute;
  width: 1440px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #2F3337;
}


